# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app
*.exp

# Visual Studio 2010
#*.vcxproj
#*.vcxproj.filters
#*.vcxproj.user
*.opensdf
*.sdf
#*.sln
*.suo
*.pdb
*.ilk
*.pch
*.idb
*.ipch

# Textures, Resources
*.dds


# Logs
*.tlog
*.rc
*.rc2
*.res
*.lastbuildstate
*.unsuccessfulbuild
*.log